<!DOCTYPE html>
<html>
<head>
    <title>Employee List</title>
</head>
<body>
    <h1>Employee List</h1>
    <a href="{% url 'employee_create' %}">Add New Employee</a>
    <ul>
        {% for employee in employees %}
            <li>{{ employee.first_name }} {{ employee.last_name }} ({{ employee.email }})
                <a href="{% url 'employee_update' employee.pk %}">Edit</a>
                <a href="{% url 'employee_delete' employee.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
